.bulleted-list {
  padding-left: 25px;
  padding-bottom: 25px;
  max-width: 600px;
  text-align: left;
  line-height: 30px;
}

.bulleted-list .main-bullet {
  padding-top: 10px;
}

.bulleted-list .top-bullet {
  padding-top: 0;
}

.bulleted-list .remove-bullet {
  list-style-type: none;
  padding-top: 0;
}

.bulleted-list .nested-list {
  padding-left: 25px;
  padding-bottom: 0;
}

.bulleted-list .nested-list li {
  padding-top: 5px;
}

.bulleted-list .nested-list li {
  list-style-type: circle;
}
