.faq {
  text-align: center;
  padding: 20px;
}

.faqdropdowncontent {
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.accordion {
  background-color: white;
  color: #222224;
  cursor: pointer;
  padding: 18px;
  margin-top: 20px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.accordion:after {
  content: "\002B";
  color: #42746c;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  padding: 18px 18px;
  background-color: whitesmoke;
  font-size: 15px;
}

.panel p {
  font-size: 14px;
  color: #222224;
}

.active,
.accordion:hover {
  background-color: whitesmoke;
}

.active:after {
  content: "\2212";
}
