/* FOOTER */

/* Dekstop footer */
footer {
  min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dark-green);
  color: var(--white);
  font-weight: bold;
}

/* Mobile footer */
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 40px;
  }

  .company-name {
    padding: 20px;
  }
}
