* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  color: #222224;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

/* LINK STYLES FOR SOURCES AND DIRECT LINKS */
a {
  text-decoration: none;
}

.link-white {
  color: #fff;
}

.link-white:hover {
  color: #2f514b;
  font-weight: bold;
}

.link-green {
  color: #2f514b;
}

.link-green:hover {
  font-weight: bold;
}

.box-links {
  text-align: center;
  padding-top: 10px;
}

/* BOLD STYLE FOR TEXT ELEMENTS */
.weighted-text {
  color: #2f514b;
  font-weight: bold;
}

.scroll {
  position: absolute;
  transform: translateY(-10vh);
}

.full-height-nav,
.full-height-nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-section {
  width: 100%;
}

.full-height-nav {
  min-height: 90vh;
}

.full-height-nav-footer {
  min-height: 80vh;
  border-top: 1px solid lightgray;
}

/* SPACING (always overwrite existing styles) */
.m-top-0 {
  margin-top: 0 !important;
}

.m-top-25 {
  margin-top: 25px !important;
}

.p-top-25 {
  padding-top: 25px !important;
}

.p-top-50 {
  padding-top: 50px !important;
}

.p-bottom-0 {
  padding-bottom: 0 !important;
}

.p-bottom-25 {
  padding-bottom: 25px !important;
}

.p-bottom-50 {
  padding-bottom: 50px !important;
}
