.img-text-row-container {
  padding: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.img-text-row-container img {
  width: 50%;
  max-width: 400px;
}

.img-text-row-container .text h1 {
  color: #2f514b;
  margin-bottom: 25px;
}

.img-text-row-container .text .button {
  display: inline-block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.img-text-row-container .text p,
.img-text-row-container .text .main-list {
  text-align: left;
  max-width: 650px;
  padding-bottom: 25px;
  line-height: 30px;
}

.img-text-row-container .text .bottom-0 {
  padding-bottom: 0;
}

@media screen and (max-width: 1100px) {
  .img-text-row-container {
    flex-direction: column;
    padding: 25px;
  }

  .img-text-row-container img {
    width: 60%;
    padding: 0;
    margin-bottom: 0;
  }

  .img-text-row-container .button {
    margin-bottom: 25px;
  }
}
