.index-bg .sections {
  padding-top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
}

.index-bg .scroll-down-faq-container {
  height: 10vh;
  background-color: #2f514b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-bg .scroll-down-faq-container .button {
  display: inline-block;
}

.index-bg .section-challenge {
  border-right: 4px solid #2f514b;
}

.index-bg .section-app {
  border-left: 4px solid #2f514b;
}

.index-bg .section-challenge,
.index-bg .section-solution,
.index-bg .section-app {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-bg .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-bg .section-content .section-text {
  text-align: center;
}

.index-bg .section-content img {
  max-width: 200px;
  max-height: 200px;
}

.index-bg .section-content h1 {
  padding: 25px;
  color: #2f514b;
}

.index-bg .section-content p {
  padding: 0 50px;
  padding-bottom: 25px;
  line-height: 30px;
  max-width: 500px;
  text-align: center;
}

.index-bg .section-content .button {
  display: inline-block;
}

@media screen and (max-width: 1400px) {
  .index-bg .sections {
    padding-top: 10vh;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .index-bg .section-challenge,
  .index-bg .section-solution,
  .index-bg .section-app {
    transform: none;
  }

  .index-bg .section-content {
    flex-direction: row-reverse;
    transform: none;
  }

  .index-bg .section-challenge {
    border-right: none;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .index-bg .section-solution {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .index-bg .section-app {
    border-left: none;
    padding-bottom: 50px;
    padding-top: 25px;
  }

  .index-bg .section-challenge .section-content,
  .index-bg .section-app .section-content {
    flex-direction: row;
  }

  .index-bg .section-solution p {
    padding-left: 0;
  }

  .index-bg .section-challenge p,
  .index-bg .section-app p {
    padding-right: 0;
  }

  .index-bg .section-content h1 {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .index-bg .section-content {
    flex-direction: column;
  }

  .index-bg .section-challenge .section-content,
  .index-bg .section-app .section-content {
    flex-direction: column;
  }

  .index-bg .section-content h1 {
    padding-top: 25px;
  }

  .index-bg .section-challenge p,
  .index-bg .section-solution p,
  .index-bg .section-app p {
    padding-left: 25px;
    padding-right: 25px;
  }
}
