nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d2ea9b;
}

nav img {
  height: 8vh;
}

nav .links {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav .links a {
  text-decoration: none;
  color: black;
}
