nav {
  padding-right: 20px;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f514b;
  color: #fff;
  position: fixed;
  z-index: 3;
}

nav .nav-logo {
  margin-left: 20px;
  height: 8vh;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .links img {
  height: 3vh;
  width: 3vh;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .links img:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

nav a {
  z-index: 3;
}

nav .nav-logo:hover {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

nav .links {
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav .link a {
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
}

nav .link a {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

nav .link a:before,
nav .link a:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  background-color: #fff;
}

nav .link a:before {
  left: 50%;
}

nav .link a:after {
  right: 50%;
}

nav .link:hover {
  cursor: pointer;
}

nav .link:hover a:before,
nav .link:hover a:after,
nav .link .active:before,
nav .link .active:after {
  width: 100%;
  opacity: 1;
}

nav .link:hover a:before,
nav .link:hover a:after,
nav .link .active:before,
nav .link .active:after {
  width: 50%;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  nav .links {
    position: fixed;
    top: 0;
    background: #2f514b;
    height: 100vh;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
  }
  nav .open {
    clip-path: circle(150vh at 90% -10%);
    -webkit-clip-path: circle(150vh at 90% -10%);
    pointer-events: all;
  }

  nav .links img {
    height: 7vh;
    width: 7vh;
  }

  nav .links .link {
    z-index: 2;
    opacity: 0;
  }
  nav .links .link a {
    font-size: 1.75rem;
  }
  nav .links .link:nth-child(1) {
    -webkit-transition: all 0.5s ease-in 0.2s;
    -moz-transition: all 0.5s ease-in 0.2s;
    -o-transition: all 0.5s ease-in 0.2s;
    transition: all 0.5s ease-in 0.2s;
  }
  nav .links .link:nth-child(2) {
    -webkit-transition: all 0.5s ease-in 0.4s;
    -moz-transition: all 0.5s ease-in 0.4s;
    -o-transition: all 0.5s ease-in 0.4s;
    transition: all 0.5s ease-in 0.4s;
  }
  nav .links .link:nth-child(3) {
    -webkit-transition: all 0.5s ease-in 0.6s;
    -moz-transition: all 0.5s ease-in 0.6s;
    -o-transition: all 0.5s ease-in 0.6s;
    transition: all 0.5s ease-in 0.6s;
  }

  nav .links .fade {
    opacity: 1;
  }

  .hamburger {
    display: block;
    z-index: 2;
    height: 5vh;
    cursor: pointer;
  }
}
