/* FAQ */
.panel {
  max-height: 10vh;
  padding: 18px 18px;
}

.accordion:after {
  content: "";
}

/* NAV */
@media screen and (max-width: 768px) {
  nav {
    position: static;
    padding-right: 0;
  }

  nav img {
    display: none;
  }

  nav .links {
    position: static;
    background: #2f514b;
    height: 10vh;
    max-width: 100vw;
    width: 100%;
    clip-path: none;
    -webkit-clip-path: none;
    transition: all 1s ease-out;
    pointer-events: all;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  nav .links .link {
    z-index: 2;
    opacity: 1;
  }
  nav .links .link a {
    font-size: 1rem;
  }
}
