/* drop-down */
.panel {
  max-height: 300vh;
  padding: 18px 18px;
}

.accordion {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion:after {
  content: "";
}

/* Nav */
@media screen and (max-width: 768px) {
  nav {
    padding-right: 0;
  }

  nav .nav-logo,
  .hamburger {
    display: none;
  }

  nav .links .link img {
    height: 3vh;
    width: 3vh;
  }

  nav .links {
    position: static;
    background: #2f514b;
    height: 10vh;
    max-width: 100%;
    width: 100%;
    clip-path: none;
    -webkit-clip-path: none;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: all;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  nav .links .link {
    z-index: 2;
    opacity: 1;
  }

  nav .links .link a {
    font-size: 1rem;
  }
}
