.title-btn-paragraph {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.wide {
  max-width: 900px;
}

.title-btn-paragraph h1 {
  text-align: center;
  color: #2f514b;
  margin-bottom: 25px;
}

.title-btn-paragraph p {
  line-height: 30px;
}

.title-btn-paragraph .button {
  margin-top: 25px;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .title-btn-paragraph {
    padding: 25px;
  }
}
