.title-btn-paragraph-container {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  text-align: center;
}

.title-btn-paragraph-container h1 {
  text-align: center;
  color: #2f514b;
  margin-bottom: 25px;
  line-height: 35px;
}

.title-btn-paragraph-container p {
  line-height: 30px;
  text-align: left;
}

.title-btn-paragraph-container .button {
  margin-top: 25px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
